.user-list {

}

.user-list__item {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list__link {

}

.user-list__link-text {
  @media (max-width: 1199px) {
    .hide();
  }
}
