.product-card {

}

.product-card__wrapper {
  background-color: #ffffff;
  padding: 40px 20px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.product-card__img {
  align-self: center;
  margin-bottom: 24px;
}

.product-card__title {
  margin: 0;
  margin-bottom: 4px;
}

.product-card__description {
  margin: 0;
  margin-bottom: 16px;
}

.product-card__price-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  align-self: center;
}

.product-card__button {
  padding-left: 46px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.product-card__button::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url("../img/catalog/icon-cart.svg");
  top: 8px;
  left: 11px;
}
