.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1255px;
    margin: 0 auto;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    align-items: flex-start;
  }
}

.content__special-slogan {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
  }
}

.content__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 4px;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 56px;
    line-height: 80px;
    width: 608px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.content__title--new {

}

.content__description {
  margin: 0;
  text-align: center;
  width: 280px;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 625px;
  }
}

.content__price-wrapper {
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: @tablet-width) {

  }
}

.content__old-price {
  font-size: 16px;
  line-height: 32px;
  color: #7859cf;
  text-decoration: line-through;
}

.content__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-left: 6px;
}

.content__price--spicial {

}

.content__img {
  @media (max-width: @mobile-width-only) {
    order: -1;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    order: -1;
  }
}

.content__img img {
  @media (min-width: @tablet-width) and (max-width: 1439px) {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 476px;
    height: 476px;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
    height: 600px;
  }
}
