.slider {

}

.slider__slide {
  padding-bottom: 60px;
  width: 100%;
}

.slider__slide--1 {
  background-color: #f3ebe1;
}

.slider__slide--2 {
  background-color: #eae6fc;
}

.slider__slide--3 {
  background-color: #e5e6e8;
}

.slider__toggles {
  width: 320px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider__button {
  .normalize-button();
  padding: 8px 20px;
  background-color: #7859cf;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 20px;
}
