.slider {

}

.slider__slide {
  padding-bottom: 60px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-bottom: 308px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 84px;
    padding-top: 30px;
  }
}

.slider__slide--1 {
  background-color: #f3ebe1;
}

.slider__slide--2 {
  background-color: #eae6fc;
}

.slider__slide--3 {
  background-color: #e5e6e8;
}

.slider__toggles {
  width: 320px;
  // display: flex;
  // justify-content: space-between;
  position: relative;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.slider__button {
  .normalize-link();
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
}

.slider__pagination-wrapper {
  @media (min-width: @desktop-width) {
    width: 1440px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider__pagination {
  @media (max-width: 1439px) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    bottom: 9.7%;
    left: 43%;
  }
}

.slider__pagination > span:hover {
  background-color: rgba(120, 89, 207, 0.25);
  cursor: pointer;
}
