.toggles {

}

.toggles__button {
  .normalize-button();
  width: 20px;
  height: 656px;
  background-color: inherit;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  bottom: 0;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: @desktop-width) {
    height: 714px;
  }
}

.toggles__button--prev {
  left: 0;
  @media (min-width: @tablet-width) {

  }

}

.toggles__button--next {
  right: 0;
  @media (min-width: @tablet-width) {

  }
}

.toggles__arrow-left {

}

.toggles__arrow-right {

}
